/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------> */

body {
  background: black;
  font-family: Andale Mono, monospace;
}

.container {
  width: 1300px;
  height: 1000px;
  margin: auto;
  margin-top: 200px;
}

.welcome-circle {
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top: 200px;
  margin: auto;
}

.welcome-circle:hover {
  animation: breathe 2s ease-in-out infinite;
  background-color: rgb(165, 90, 165);
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

@keyframes breathe {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.welcome-circle h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.welcome-circle:hover h1{
  color: black;
  opacity: 0;
  
}
















