/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------> */

body {
  background: white;
  color: white;
  background: rgb(6, 21, 24);
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: rgb(27, 27, 27)
}
body::-webkit-scrollbar-thumb {
  background: rgb(131, 130, 133);
}

.corner-pocket {
  height: 5rem; width: 5rem;
  border-bottom-right-radius: 50px;
  background: rgb(255, 89, 0);
  position: fixed;
  z-index: 1;
}

.navbar {
  /* height: 5rem; width: 5rem;
  border-radius: 50px;
  background: rgb(255,223,0);
  position: fixed;
  z-index: 1; */
}

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 36rem;
  padding: 9rem 20vw;
  font-family: 'Manrope', sans-serif;
}

.panel-1 {
  background: rgb(0, 0, 0);
  align-items: center;
  flex-direction: column;
  
}

.panel-2 {
  background: rgb(54, 188, 175);
  align-items: center;
  flex-direction: column;
}
.panel-3 {
  background: rgb(121, 70, 157);
  align-items: center;
  flex-direction: column;
}

.spacer {
  aspect-ratio: 960/350;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url(./images/layer1.svg);
  image-resolution: ;
}
.layer2 {
  background-image: url(./images/layer2.svg);
}

.fancy-font {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3.5rem;
  letter-spacing: .3em; padding: 1rem 1rem;
  background: linear-gradient(to right, rgb(230, 230, 7),orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  animation: fade 3s ease-in 1s;
  align-items: center;
  }

  @keyframes fade {
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }

.pillar {
  background-image: url(./images/ppperspective.svg);
}


